### IntelliJ IDEA ###
target/
/.idea/
*.iws
*.iml
*.ipr

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### Maven ###
/.mvn/
/mvnw.cmd
/mvnw
/HELP.md

